h5 a {
    color: #29293d;
}

table tr td button {
    height: 55px;
}

table tr td a img {
    border-radius: 50%;
}

.card-body {
    width: auto;
}

.full table {
    width: auto;
}

.full {
    width: auto;
}

@import "compass/css3";

a.info {
  margin-top: 10px;
  vertical-align: bottom;
  position:relative; /* Anything but static */
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999em;
  display: inline-block;
  font-weight:bold;
  font-size:1em;
  line-height:1em;
  background-color: #f0ad4e;
  margin-left: .25em;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
}
a.info:hover {
  background-color:#f0ad4e;
  cursor: hand; 
  cursor: pointer;
}
a.info:before {
  content:"!";
  position: absolute;
  top: .25em;
  left:0;
  text-indent: 0;
  width:1.5em;
  text-align:center;
}

.popover-title {
  font-weight:bold;
}


label a.info, 
label div.popover.fade.in { 
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
label:hover a.info, 
label:hover div.popover.fade.in { 
  opacity: 1; }