h5 a {
    color: #29293d;
}

table tr td button {
    height: 55px;
}

table tr td a img {
    border-radius: 50%;
}


.fadeIn {
    width: 80%;
    margin: auto;
}

.card-body {
    width: auto;
}

.full table {
    width: auto;
}