.tab-content, tab-pane {
    width: 1050px;
    height: 300px;
    margin-left: -135px;
}

.nav-tabs{
    margin-left: -150px;
}

.background {
    background-color: #29293d;
}

.new-nav {
    width: 900px;
}

.tab-pane form select {
    outline-color: #29293d;
}

.new-nav a {
    color: #efeff5;
}

.borda {
    border: 1px solid #29293d;
}

.mb-2{
    width: 100%;
}

.new-nav {
    width : 100%;
}

.tab-content , tab-pane {
    width : 110%;
}

footer {
    position: relative;
}

table tr td a {
    color : #29293d;
}