<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Sistema</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <section class="form-section">
      <h1></h1>

      <div class="form-wrapper">
        <form action="/login" method="POST">
          <div class="input-block">
            <label for="login-email">Login</label>
            <input type="text" id="login-username" name="username" />
          </div>
          <div class="input-block">
            <label for="login-password">Senha</label>
            <input type="password" id="login-password" name="password" />
          </div>
          <button type="submit" class="btn-login">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>